/*Header starts*/
.topbg{
    height:100vh;
    background-image: linear-gradient(to bottom,#000000 ,rgba(0, 0, 0, 0.548) 100%),url("images_txtsms/txtsms9.png");
    background-size: cover;
    background-position: top;
    
  
    
}
.mainhead{
  font-family: 'Dancing Script', cursive;
  font-size: 90px !important;
  background:none;
}
.mainheading{
  margin-top:0px;
}
.heading_factors h2{
    font-size: 20px;
    color: white;
}
.heading_factors{
    padding-top:250px;
}
@media only screen and (max-width: 800px) {
  .mainhead{
    font-size:40px !important;
  }
}
@media only screen and (max-width: 1200px) {
    .heading_factors h2{
        display:none;
    }
    .txtsms_butt{
        display:none;
    }
    
}
.txtsms_butt{
    margin-top:0px !important;
}
/* header ends */

/*Promotion Starts*/
.factor-box {
    background-image:linear-gradient(to bottom,#a0a9ab59 ,rgb(83 190 195 / 21%) 100%);
    background-size:contain;
  /* background-color: rgba(255, 255, 255, 0.8) ; */
  font-size: 1.5rem ;
  padding: 2.5rem ;
  text-align: center ;
  border-radius: 3px ;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s
}

@media only screen and (max-width: 56.25em) {
  .factor-box {
      padding: 2rem;
      margin-top:20px;
  }
}

.factor-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent
}

@media only screen and (max-width: 56.25em) {
  .factor-box__icon {
      margin-bottom: 0
  }
}

.factor-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
  transform: translateY(-1.5rem) scale(1.03)
}
.factor-box__text{
    /* color:white; */
    font-size:18px !important;
    margin-top: 15px;
}
.heading-tertiary{
    /* color:white; */
    font-size:23px !important;
    margin-top:30px;
}

.factor_txtsms{
    margin-top:60px;
}
.factor-icons{
    font-size:50px !important;
}
.featureheading2{
    margin-top:100px !important;
}
/*Promotion Ends*/
/*Feature Starts*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .icon-sms-margin{
      margin-top:70px;
  }
  .flip-card-front-1 {
    background-color: #A7FFAB;
    color: grey;
  }
  .flip-card-front-2 {
    background-color: #DEFFC2;
    color:grey;
  }
  .flip-card-front-3 {
    background-color: #B0F6FF;
    color: grey;
  }
  .flip-card-front-4 {
    background-color: #FFF99B;
    color: grey;
  }
  
  

  .flip-card-back-1{
    background-color: #A7FFAB;
    color: grey;
    font-size: 20px;
    transform: rotateY(180deg);
  }
  .flip-card-back-2{
    background-color:#DEFFC2;
    color: grey;
    font-size: 20px;
    transform: rotateY(180deg);
  }
  .flip-card-back-3{
    background-color:#B0F6FF;
    color: grey;
    font-size: 20px;
    transform: rotateY(180deg);
  }
  .flip-card-back-4{
    background-color: #FFF99B;
    color: grey;
    font-size: 20px;
    transform: rotateY(180deg);
  }
  @media only screen and (max-width: 800px){
.cards_phone_view {
    margin-top: 20px;
    margin-left: 15px;
    
}
.flip-card{
  width:100%;
}
}
/*Feature Ends*/
/* Single Click SMS */
 .feature_sms{
     margin-top:100px !important;
 }
/* Single Click SMS ends */
/*New Column*/
/* .image_txtsms{
    height:500px;
}
.txt_newcolumn{
    margin-top: 90px;
}
.txt_newcolumn h1{
    font-size:35px;
    text-align:left;
}
.txt_newcolumn p{
    color:grey;
} */
/*New Column ends*/



/*voice sms css */
.topbg2{
  height:100vh;
  background-image: linear-gradient(to bottom,#000000 ,rgba(0, 0, 0, 0.548) 100%),url("images_txtsms/txtsms12.jpg");
  background-size: cover;
  background-position: top;
}
.voice_sms_explain{
  font-size:22px;
}
.flip-card-voice-front-1 {
  background-color: #61FFAB;
  color: grey;
}
.flip-card-voice-front-2 {
  background-color: #9ADBE8;
  color:grey;
}
.flip-card-voice-front-3 {
  background-color: #F6DEB9;
  color: grey;
}
.flip-card-voice-front-4 {
  background-color: #F7C5BF;
  color: grey;
}



.flip-card-voice-back-1{
  background-color: #61FFAB;
  color: grey;
  font-size: 20px;
  transform: rotateY(180deg);
}
.flip-card-voice-back-2{
  background-color:#9ADBE8;
  color: grey;
  font-size: 20px;
  transform: rotateY(180deg);
}
.flip-card-voice-back-3{
  background-color:#F6DEB9;
  color: grey;
  font-size: 20px;
  transform: rotateY(180deg);
}
.flip-card-voice-back-4{
  background-color: #F7C5BF;
  color: grey;
  font-size: 20px;
  transform: rotateY(180deg);
}
.price-voice-height{
  height:650px !important;
}
.pricingh6{
  padding-top:0px !important;
  font-size: 14px;
  color: darkgrey;

}
.detailed-report{
  padding-top:40px;
}
.price-heading-voice{
  margin-top:100px;
}